.app {
  box-sizing: border-box;
  background-color: rgb(230, 230, 230);
  width: fit-content;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
