.profileMain {
  background-color: inherit;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
  overflow: hidden;
}
.userSection {
  position: relative;
  width: 20rem;
  background-color: rgb(245, 247, 248);
  text-align: center;
  padding: 5rem 1rem;
}
.doorMain{
  width: calc(100vw - 20rem);
  height: calc(100vh -6rem);
  text-align: center;
  padding: 3rem 0;
}

.frame {
  width: 220px;
  height: 260px;
  z-index: 2;
  margin-bottom: 0;
}
.profileImg {
  margin-top: 0;
  width: 160px;
  height: 200px;
  position: relative;
  bottom: 230px;
  right: 8px;
  z-index: 1;
}

.nav {
  background-color: rgba(0, 0, 0, 0.315);
  position: absolute;
  top: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav:hover{
  background-color: rgba(0, 0, 0, 0.452);
}
a:link {
  text-decoration: none;
  font-weight: 600;
  background-color: aliceblue;
}

.cameraPng {
  width: 1.2rem !important;
  height: 1.2rem !important;
  background-color: inherit;
  color: aliceblue;
  border: none !important;
  position: absolute;
  top: 5rem;
  right: 5px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  bottom: 280px;
}
.form label{
  width: 50%;
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;

}

.form button {
  width: 50%;
  background-color: rgb(15, 130, 0);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.PowerSettingsNewIcon{
  color: rgb(255, 255, 255);
  margin-top: 6px;
  cursor: pointer;
}

.PowerSettingsNewIcon:hover{
  color: rgb(155, 0, 0);
  margin-top: 6px;
}
.Home{
  color: rgb(255, 255, 255);
  margin-top: 6px;
  cursor: pointer;
}

.Home:hover{
  color: rgb(182, 174, 174);
  margin-top: 6px;
}

